.params-list {
  &__item {
    display: flex;
    justify-content: space-between;

    padding-left: 20px;

    line-height: 1.5;

    &--without-padding {
      padding-left: 0;
    }
  }
  &__item-key {
    width: 45%;

    &--word-break {
      @include word-break;
    }
  }

  &__item-value {
    width: 45%;

    color: $concrete;

    &--full {
      width: 100%;
    }

    &--word-break {
      @include word-break;
    }
  }
}
