{
  "extends": "airbnb",
  "rules": {
    "consistent-return": 0,
    "func-names": 0,
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "no-console": 0,
    "no-use-before-define": 0,
    "no-multi-spaces": [2, {
      "exceptions": {
        "ImportDeclaration": true,
        "VariableDeclarator": true
      }
    }],
    "no-underscore-dangle": [2, {
      "allow": ["_id"]
    }],
    "react/forbid-prop-types": 0,
    "react/no-unused-prop-types" : 0,
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "space-before-function-paren": ["error", {
        "anonymous": "never",
        "named": "never"
    }]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
