.step {
  position: relative;

  padding-left: $space-big;
  padding-bottom: $space-med;

  &::before {
    content: '';

    position: absolute;
    left: $space-big / 2;
    top: 20px;

    width: 2px;
    height: calc(100% - 20px);

    background: $clouds;
  }

  &--active {
    &::before {
      background: $secondary;
    }

    & .step__label-number::after {
      background: $secondary;
    }

    & .step__label-text {
      color: $secondary;
    }
  }

  &__label {
    display: block;

    margin-bottom: $space-small;
  }

  &__label-number {
    position: absolute;
    left: $space-big / 2 - 2px;

    font-size: $font-small;
    color: white;

    z-index: 20;

    &::after {
      content: '';

      position: absolute;
      left: -8px;
      top: -2px;

      width: 24px;
      height: 24px;

      border-radius: 50%;

      background: $primary;

      z-index: -1;
    }
  }
}
