// modify surface button

.btn {
  &--without-margin {
    margin-bottom: 0;
  }

  &--link {
    padding: 0;

    background: none;

    box-shadow: none;

    color: $primary;
    text-transform: none;

    &:hover {
      color: lighten($primary, 25%)
    }

    & + .btn--link {
      margin-left: $space-small;

    }
  }

  &--single {
    display: block;

    margin-bottom: $space-big;
  }

  &__text {
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;

    margin-left: $space-small;
  }
}
