// modify surface button

.btn {
  &__text {
    display: inline-block;
    vertical-align: middle;
  }
  &__icon {
    display: inline-block;
    vertical-align: middle;

    margin-left: $space-small;
  }
}
