.pagination {
  display: flex;
  justify-content: center;

  width: 100%;

  padding: 0;
  margin: $space-med 0;

  &__page {
    margin-top: 0;

    &:hover {
      color: lighten($concrete, 25%)
    }

    & + .pagination__page {
      margin-left: $space-small;
    }
  }

  &__page-button {
    display: flex;

    height: 100%;

    font-size: $font-regular;

    padding: 0;
    padding-bottom: 3px;

    background: none;

    color: $concrete;
    font-weight: 600;

    &:hover {
      color: $primary
    }

    &--active {
      pointer-events: none;

      color: darken($primary, 5%)
    }
  }

  &__action {
    height: 100%;

    margin-top: 0;
  }

  &__action-button {
    padding: 0;

    background: none;

    color: $concrete;

    &:hover {
      color: $primary
    }

    &:first-child {
      margin-right: $space-small / 2;
    }

    &:last-child {
      margin-left: $space-small / 2;
    }
  }

  &__action-label {
    vertical-align: middle;
  }
}
