.recipe-card {
  display: flex;
  flex-direction: column;

  &__tags {
    margin-bottom: $space-big;
  }

  &__info {
    margin-bottom: $space-med;
  }

  &__description {
    margin-bottom: $space-big;
  }
}
