.recipe-item {
  display: flex;
  justify-content: space-between;

  padding: $space-small $space-med;

  border-bottom: 1px solid $clouds;

  &:first-child {
    border-top: 1px solid $clouds;
  }

  &__description {
    width: 35%;
  }

  &__ingredients {
    width: 30%;
  }

  &__image-wrapper {
    width: 20%;
  }
}
