// modify surface input

input.input__tag {
  margin-bottom: 0;
}

.input {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  width: 100%;

  margin-bottom: $space-big;

  &--with-validation-message {
    & .input__tag {
      border-bottom-color: $pomegranate;
    }
  }


  &--tag-input {
    & + .input--tag-input {
      margin-left: $space-med;
    }
  }

  &__tag {
    order: 2;

    &:focus + .input__label {
      color: $secondary
    }
  }

  &__validation-message {
    position: absolute;
    left: 0;
    bottom: -35px;

    width: 100%;
    height: 35px;

    padding: 5px 0;

    font-size: $font-regular;
    color: $pomegranate;
  }

  .input__tag.input__tag--tag-input {
    margin-bottom: $space-med;
  }

  &__label {
    width: 100%;

    order: 1;
  }
};
