// modify surface input

.input {
  display: flex;
  flex-wrap: wrap;

  width: 100%;

  &--tag-input {
    & + .input--tag-input {
      margin-left: $space-med;
    }
  }

  &__tag {
    order: 2;

    &:focus + .input__label {
      color: $secondary
    }
  }

  // redefine surface selector
  .input__tag.input__tag--tag-input {
    margin-bottom: $space-med;
  }

  &__label {
    width: 100%;

    order: 1;
  }
};
