.tag-input {
  margin-bottom: $space-big;

  &__label {
    margin-bottom: $space-small;

    &--focused {
      color: $secondary;
    }
  }

  &__tags {
    margin-top: $space-small / 2;
  }

  &__inputs {
    display: flex;
  }
}
