// modify surface input

.input {
  display: flex;
  flex-wrap: wrap;

  width: 100%;

  &__tag {
    order: 2;

    &--tag-input {
      order: 3;
    }

    &:focus + .input__label {
      color: $secondary
    }
  }

  &__label {
    width: 100%;

    order: 1;
  }
};
